# Temporary files
*~
.#*
*$

### virtualenv ###
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pip-selfcheck.json
.venv
pyvenv.cfg
tcl

.idea

# Compiled files
.py[ocd]

__pycache__
*.pkl